
.backgroundImage {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.backgroundColor{
  background-color: rgba(255, 255, 255, 0.511);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
}

.boxContainer {
  font-family: var(--main-font);
  font-size: 16px;
  background: rgba(184, 184, 183, 0.853);
  background: linear-gradient(
    243deg,
    rgba(184, 184, 183, 0.839) 0%,
    rgba(102, 102, 99, 0.848) 34%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  flex-direction: row;
  align-content: center;
  max-width: 1000px;
  height: 410px;
  margin: 50px;
  left: 0px;
  gap: 5px;
  overflow: hidden;
  border: 10px solid rgb(27, 26, 26);
}
.name {
  font-size: 60px;
  position: absolute;
  left: 15px;
  top: -90px;
  align-self: flex-start;
}
.textContainer {
  width: 440px;
  height: 272px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: var(--main-font);
  font-weight: 200;
  position: relative;
  top: 50px;
  left: -250px;
}
.textContainer h5 {
  margin-bottom: -8px;
  align-self: flex-start;
  margin-right: 0px;
}

.imgContainer {
  max-height: 262px;
  max-width: 434px;
}
.img {
  width: 434px;
  border: 5px solid rgb(0, 0, 0);
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.title {
  font-weight: 400;
  font-size: 16px;
  font-family: var(--main-font);
  position: absolute;
  top: -25px;
  color: var(--pale-pink-grey);
  left: 200px;
}
.title img {
  position: absolute;
  left: -200px;
  top: 25px;
}
.loader {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50px, -50px);
  max-width: 50px;
}
.btnContainer {
  background-color: #666663;
  position: absolute;
  top: 0px;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btnBack {
  background-color: var(--sand-brown);
  height: 35px;
  width: 120px;
  transition: background-color 0.1s linear 0s;
  position: absolute;
  top: 5px;
  right: 48px;
  border: none;
  margin-left: 5px;
  font-family: var(--main-font);
  font-size: 12px;
  cursor: pointer;
  color: black;
}

.link {
  text-decoration: none;
  color: var(--dark-brown);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.link:visited {
  color: inherit;
}
.logo {
  width: 150px;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}
