.landingContainer {
  background-color: var(--pale-pink-grey);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  background-color: white;
  background-image: url('../../assets/images/golden-retriever-low-opacity.png');
  background-position: center bottom -90px; 
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: var(--main-font);
  position: absolute;
  top: 75px;
  left: 100px;
  align-self: center;
  width: 800px;
  height: 300px;
}

.mainTitle {
  width: 800px;
  position: relative;
  top: 100px;
  left: 55%;
  transform: translate(-50%, -50%) 
}

.miniTitle {
  position: absolute;
  top: 0px;
  font-family: 'Caveat', cursive;
  font-weight: 600;
  font-size: 35px;
}

.barContainer {
  background-color: #666663;
  position: absolute;
  top: 0px;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link{
  text-decoration: none;
  margin-right: 20px;
  margin-left: 60px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
 
}
.link:visited {
  color: inherit;
}

.btnShowLogin{
  background-color: #dad8d86c;
  border: 3px solid var(--dark-brown);
  height: 40px;
  width: 250px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: var(--dark-brown);
  position: absolute;
  bottom: 140px;
  font-weight: 500;
  font-family: var(--main-font);
  line-height: 24px;
  cursor: pointer;
}

