.formContainer {
  background-color: var(--sand-brown);
  border: none;
  box-shadow: 3px 3px 6px 3px #666663;
  width: 320px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 15px;
  position: absolute;
  top: 300px;
}

.inputEmail {
  margin-top: 10px;
  position: relative;
  top: -30px;
  border: none;
  height: 25px;
  width: 280px;
  background-color: #d9d9d9;
}
.inputEmail::placeholder{
  padding-left: 5px;
 }
.inputPass {
  margin-top: 10px;
  position: relative;
  top: -60px;
  border: none;
  height: 25px;
  width: 280px;
  background-color: #d9d9d9;
}
.inputPass::placeholder{
 padding-left: 5px;
}


.btnLogin {
  margin-top: 20px;
  background-color: #b0b0ad;
  border: 3px solid transparent;
  font-weight: 600;
  height: 30px;
  width: 250px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70px;
  color: var(--dark-brown);
  cursor: pointer;
}
.btnLogin:disabled {
  background-color: #b0b0ad;
}
.btnLogin:enabled {
  background-color: #d9d9d9;
}

.validationEmail {
  color: red;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  top: 110px;
}
.validationPass {
  color: red;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  top: 130px;
}
.helpLinksContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.helpLinkPass {
  color: var(--dark-brown);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  position: absolute;
  top: 155px;
  margin-top: 5px;
}
.helpLinkAccount {
  color: var(--dark-brown);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  position: absolute;
  top: 175px;
  margin-top: 5px;
}
