.formContainer{
  background-color: #C79861;
  width: 240px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.labelInput{
  display: flex;
  flex-direction: column;
}

.input{
  border-radius: 2px;
}