.createBtn{
  background-color: var(--pale-pink-grey);
  position: absolute;
  top: 15px;
  right:295px;
  border: none;
  margin-left: 5px;
  width: 75px;
  height: 28px;
  color: var(--dark-brown);
  font-family: var(--main-font);
  font-weight: 400;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.linkCreate{
  text-decoration: none;
  font-family: var(--main-font);
  color: var(--dark-brown);
}

